#whatsapp_container{
    background-image: url("../img/whatsapp/whatsapp-bg.png");
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 607px;
    margin-top: 2em;
}

#whatsapp_container .right-column{
    height: 100%;
}
.whatsapp_header{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.4em;
    padding-left: 28px;
    font-weight: bold;
}

.whatsapp_text{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.2em;
    padding-left: 28px;
}
.max-width-100{
    max-width: 100%;
}

@media (max-width: 992px) {
    #whatsapp_container{
        background-image: url("../img/whatsapp/whatsapp-bg-md.png");
    }
}