.wapopup {
    position: fixed;
    left: 20px;
    bottom: 10px;
    z-index: 250;
    width: 60px;
    height: 60px;
    -webkit-animation: whatsapp 4s ease-in-out infinite running;
    animation: whatsapp 4s ease-in-out infinite running;
}
.wapopup:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-animation-iteration-count: 0;
    animation-iteration-count: 0;
}

.wapopup:hover .wapopup__content__text {
    opacity: 1;
}

.wapopup__content img {
    width: 60px;
    height: 60px;
}

.wapopup__content__text {
    -webkit-box-shadow: 0 15px 70px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 70px -5px rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 10px;
    top: calc(100% + 10px);
    left: -75px;
    width: 225px;
    text-align: center;
    color: black;
    border: 1px solid rgba(171, 224, 232, 0.16);
    border-radius: 10px;
    background-color: white;
    font-family: 'Proxima Nova ExtraBold';
    font-weight: bold;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.wapopup__content__text div {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 100px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 100px -20px rgba(0, 0, 0, 0.75);
}

.wapopup__content__text span {
    color: #77c938;
}
@media (min-width: 769px) {
    .wapopup {
        display: none!important;
    }
}

@-webkit-keyframes whatsapp {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    2% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    6% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    8% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    10% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes whatsapp {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    2% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    6% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    8% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    10% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes whatsapp-adaptive {
    0% {
        -webkit-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(0deg);
    }
    10% {
        -webkit-transform: translateY(-50%) rotate(-15deg);
        transform: translateY(-50%) rotate(-15deg);
    }
    20% {
        -webkit-transform: translateY(-50%) rotate(15deg);
        transform: translateY(-50%) rotate(15deg);
    }
    30% {
        -webkit-transform: translateY(-50%) rotate(-15deg);
        transform: translateY(-50%) rotate(-15deg);
    }
    40% {
        -webkit-transform: translateY(-50%) rotate(15deg);
        transform: translateY(-50%) rotate(15deg);
    }
    50% {
        -webkit-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(0deg);
    }
}

@keyframes whatsapp-adaptive {
    0% {
        -webkit-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(0deg);
    }
    10% {
        -webkit-transform: translateY(-50%) rotate(-15deg);
        transform: translateY(-50%) rotate(-15deg);
    }
    20% {
        -webkit-transform: translateY(-50%) rotate(15deg);
        transform: translateY(-50%) rotate(15deg);
    }
    30% {
        -webkit-transform: translateY(-50%) rotate(-15deg);
        transform: translateY(-50%) rotate(-15deg);
    }
    40% {
        -webkit-transform: translateY(-50%) rotate(15deg);
        transform: translateY(-50%) rotate(15deg);
    }
    50% {
        -webkit-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(0deg);
    }
}
