{% extends('base.html.twig') %}

{% block body %}
    <!--Блок СЕО начало-->
    <div class="block12 blockseo">
        <div class="container container2">
            тут сео текст
            <div class="seobtn">Читать далее</div>
        </div>
    </div>
    <!--Блок СЕО конец-->
{% endblock %}