<!--меню с сылками на страницы-->
<div class="header-menu1 header-menu">
    <div class="container">
        <div class="menu-wrap">
            <a href="#">Прайс-лист</a>
            <a href="#">Акции</a>
            <a href="#">Гарантии</a>
            <a href="#">Наши работы</a>
            <a href="#">О нас</a>
            <a href="#">Контакты</a>
            <a href="#">Калькулятор</a>
        </div>
    </div>
</div>
<!--меню конец-->