<!--Второй блок - "Акции"-->
<div class="block2 blockakcii">
    <div class="container container2">
        <div class="card-wrap">
            <div class="card-block">
                <div class="card">
                    <b class="card-zag">Бесплатная диагностика</b>
                    <p>Комплексная диагностика по 56 параметрам</p>
                    <div class="cena-wrap">
                        <div>
                            <span class="stcena">3000 руб</span>
                            <span class="newcena ">0 руб</span>
                        </div>
                        <a href="#" class="mbtn mymodal-btn" >Записаться</a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="card">
                    <b class="card-zag">Бесплатная диагностика</b>
                    <p>Комплексная диагностика по 56 параметрам</p>
                    <div class="cena-wrap">
                        <div>
                            <span class="stcena">3000 руб</span>
                            <span class="newcena ">0 руб</span>
                        </div>
                        <a href="#" class="mbtn mymodal-btn" >Записаться</a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="card">
                    <b class="card-zag">Бесплатная диагностика</b>
                    <p>Комплексная диагностика по 56 параметрам</p>
                    <div class="cena-wrap">
                        <div>
                            <span class="stcena">3000 руб</span>
                            <span class="newcena ">0 руб</span>
                        </div>
                        <a href="#" class="mbtn mymodal-btn" >Записаться</a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="card">
                    <b class="card-zag">Бесплатная диагностика</b>
                    <p>Комплексная диагностика по 56 параметрам</p>
                    <div class="cena-wrap">
                        <div>
                            <span class="stcena">3000 руб</span>
                            <span class="newcena ">0 руб</span>
                        </div>
                        <a href="#" class="mbtn mymodal-btn" >Записаться</a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="card">
                    <b class="card-zag">Бесплатная диагностика</b>
                    <p>Комплексная диагностика по 56 параметрам</p>
                    <div class="cena-wrap">
                        <div>
                            <span class="stcena">3000 руб</span>
                            <span class="newcena ">0 руб</span>
                        </div>
                        <a href="#" class="mbtn mymodal-btn" >Записаться</a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="card">
                    <b class="card-zag">Бесплатная диагностика</b>
                    <p>Комплексная диагностика по 56 параметрам</p>
                    <div class="cena-wrap">
                        <div>
                            <span class="stcena">3000 руб</span>
                            <span class="newcena ">0 руб</span>
                        </div>
                        <a href="#" class="mbtn mymodal-btn" >Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Конец  блока "Акции"-->