<!--Тёмный блок c видео начало-->
<div class="block4 blackblockv2">
    <div class="container container2">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="text-block text-block1">
                    <div class="textzag">Сохранение заводской гарантии</div>
                    <p>«Ровер Сити» - это сертифицированный автосервис по ремонту Land Rover и гарантия на автомобиль сохраняется</p>
                </div>
                <div class="text-block text-block2">
                    <div class="textzag">Гарантия 2 года на все работы</div>
                    <p>На слесарный ремонт - гарантия 2 года. Кузовной ремонт - пожизненная гарантия</p>
                </div>
                <div class="text-block text-block3">
                    <div class="textzag">Крупнейший автосервис Land Rover в Москве</div>
                    <p>Общая площадь 3000 м2 - более 30 автомобилей обслуживаются одновременно.</p>
                </div>
                <div class="text-block text-block4">
                    <div class="textzag">Свой склад запчастей</div>
                    <p>Только оригинальные запчасти и качественные аналоги. Все запчасти имеют сертификаты.</p>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="video">
                    <video src="{{ asset('video/video.mp4') }}"  controls="controls"></video>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Конец  блока с видео-->