<!--Начало БЛОКА с карточками и надписью-->
<div class="block6">
    <div class="container">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 offset-0">
            <div class="text-wrap">
                <div class="text1"><b>★</b> БЕСПЛАТНАЯ ДИАГНОСТИКА Range Rover по 56 параметрам. </div>
                <div class="text2"><b> ✔</b> Предложение действительно только при первом обращении в наш автосервис.</div>
            </div>
        </div>
        <div class="scard-wrap">
            <div class="row">
                <div class="col-md-4">
                    <div class="scard open_modal" data-title="Заявка на бесплатную диагностику">
                        <span>Бесплатная</span>
                        <div>Диагностика</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="scard open_modal" data-title="Заявка на ремонт">
                        <span>Заявка</span>
                        <div>На ремонт</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="scard open_modal" data-title="Заявка на эвакуатор" >
                        <span>Заявка</span>
                        <div>на эвакуатор</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Конец блока с карточками и надписью-->