<div class="header header1">
    {{ include('modules/header/top_line.html.twig') }}
    {{ include('modules/header/main_menu.html.twig') }}
    {{ include('modules/header/dropdown_menu.html.twig') }}
</div>