<div id="map" style="background:#F9F7F7">
    <div id="map_it" style="height: 500px; position:relative; ">
        <div class="plashka_na_karte">
            <div class="footer-contacts__contact__wrap">
                <div class="footer-contacts__contact__name">Севастопольский</div>
                <div class="footer-contacts__contact__adress">Севастопольский пр-т, 95б</div>
                <div class="footer-contacts__contact__phone"><a href="tel:+74951507069">+7 (495) 150-70-69</a>
                </div>
                <div class="footer-contacts__contact__time">Ежедневно: 09:00 - 21:00 <br>
                                                            Без выходных
                </div>
            </div>
            <div class="footer-contacts__contact__adresses">
                <div class="footer-contacts__contact__button">
                    Построить маршрут
                </div>
                <div class="footer-contacts__contact__button__content">
                    <a href="https://yandex.ru/maps/213/moscow/?ll=37.543972%2C55.635318&amp;mode=routes&amp;rtext=~55.635345%2C37.543578&amp;rtt=auto&amp;sll=37.488125%2C55.687766&amp;sspn=0.015771%2C0.005206&amp;text=%D0%A1%D0%B5%D0%B2%D0%B0%D1%81%D1%82%D0%BE%D0%BF%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BF%D1%80-%D1%82%2C%2095%D0%B1&amp;toaddress=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%D1%83%D0%BB.%D0%9B%D0%BE%D0%B1%D0%BD%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%2C%2017%2C%D1%81%D1%82%D1%80.1&amp;z=18"
                       class="marsh" data-name="Севастопольский" data-map="яндекс карты"
                       target="_blank">Веб-версия Яндекс Карт</a>
                    <a href="yandexnavi://build_route_on_map?lat_to=55.635345&amp;lon_to=37.543578"
                       class="marsh" data-name="Севастопольский" data-map="яндекс навигатор"
                       target="_blank">Яндекс Навигатор</a>
                    <a href="https://www.google.ru/maps/dir//%D0%A1%D0%B5%D0%B2%D0%B0%D1%81%D1%82%D0%BE%D0%BF%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80.,+95%D0%91,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+117342/@55.6353295,37.5393014,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x414ab2b520b9d46b:0x2a38af8b6d18744d!2m2!1d37.5436788!2d55.6353296"
                       class="marsh" data-name="Севастопольский" data-map="гугл карты"
                       target="_blank">Google Maps</a>
                </div>
            </div>
        </div>


        <link rel="stylesheet" type="text/css" href="/map/map.css">

        <div class="ymap-container">
            <div class="loader loader-default"></div>
            <div id="map-yandex"></div>
        </div>

    </div>


    <hr class="hr_na_karte2">
    <div class="plashka_na_karte2">

        <div class="footer-contacts__contact__wrap">
            <div class="footer-contacts__contact__name">Севастопольский</div>
            <div class="footer-contacts__contact__adress">Севастопольский пр-т, 95б</div>
            <div class="footer-contacts__contact__phone"><a href="tel:+74951507069">+7 (495) 150-70-69</a></div>
            <div class="footer-contacts__contact__time">Ежедневно: 09:00 - 21:00 <br>
                                                        Без выходных
            </div>
        </div>

    </div>
</div>