<div class="mymodal-wrap">
    <div class="mymodal-body">
        <div class="mymodal-close">&#215;</div>
        <form action="#">
            <b>Заголовок модального окна</b>
            <input type="text" placeholder="Ваше имя">
            <input type="text" placeholder="Номер телефона">
            <input type="submit" class="mbtn modal-btn">
        </form>
    </div>
</div>