<!--Блок НАШИ РАБОТЫ начало-->
<div class="block11 blockraboti">
    <div class="container container2">
        <div class="zag">Наши работы:</div>
        <div class="footslider rab-slider">
            {% for image in images %}
            <div class="footslider-block rab-slider-block">
                <img {{ slick_lazy_load(asset('img/our_works/'~image)) }} alt="*">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="bigslider-wrap bigslider-rab-wrap">
        <div class="bigslider-close bigslider-rab-close">&#215;</div>
        <div class="bslider-body ">
            <div class="bigslider-for bigslider-rab-for">
                {% for image in images %}
                <div class="img"><img {{ slick_lazy_load(asset('img/our_works/'~image)) }} alt="*"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--Блок НАШИ РАБОТЫ конец-->