<!--Начало БЛОКА-АККАРДЕОНА с ценами-->
<div class="block5">
    <div class="container container2">
        <div class="zag">Прайс лист на ремонт и обслуживание {{ brand is defined ? brand.fullName : 'Land Rover' }}</div>
        <div class="accordion">
            <div class="accordion_item active_block ">
                <h3 class="title_block">Техническое обслуживание</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена масляного фильтра <b>от 540 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена воздушного фильтра <b>от 540 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена салонного фильтра <b>от 900 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена топливного фильтра <b>от 1080 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена масла в АКПП <b>от 2160 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена масла в МКПП <b>от 1440 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена масла в раздатке <b>от 900 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена масла в мостах <b>от 900 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Замена тормозной жидкости <b>от 1620 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Замена охлаждающей жидкости <b>от 2160 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена ремня ГРМ <b>от 7560 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена цепи ГРМ <b>от 10260 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена приводных ремней  <b>от 1080 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена свечей зажигания <b>от 1440 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Сброс межсервисного интервала  <b>от 900 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Диагностика</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика неисправностей автомобиля <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика электрики автомобиля <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика электрооборудования автомобиля <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика автокондиционеров <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика двигателя <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика дизельного двигателя <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика АКПП <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>диагностика МКПП <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика раздатки <b>от 480 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика ходовой части <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика подвески автомобиля <b>от 960 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика тормозной системы автомобиля <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика рулевого управления  <b>от 800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Ремонт двигателя</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Переборка двигателя <b>от 35960 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Промывка двигателя <b>от 1940 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика двигателя <b>от 1940 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена ремня ГРМ <b>от 6800 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена цепи ГРМ  <b>от 9230 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена распредвала <b>от 10530 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт коленчатого вала <b>от 4860 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена приводного ремня <b>от 1080 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Замена поршневой группы <b>от 19440 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт блока цилиндров (1 шт.)  <b>от 19440 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена свечей накаливания  <b>от 1440 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена свечей зажигания <b>от 1440 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт турбины <b>от 3730 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт системы охлаждения <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт топливной системы <b>от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Ремонт дизельного двигателя</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремень ГРМ (ЦЕПЬ) - замена <b>от 4860 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт форсунок (1 шт.) <b>от 2750 р</b>. </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт турбин дизельных двигателей <b>от 4860 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт ТНВД <b>от 4050 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика дизельных двигателей<b> от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика топливной системы дизельного двигателя <b>от 1080 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт коленчатого вала <b>от 4860 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика турбины дизельного двигателя <b>от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика ТНВД дизельного двигателя <b>от 1800 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика форсунок дизельного двигателя <b>от 1800 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика и проверка ТНВД с EDC <b>от 8100 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена свечей накаливания (за комплект только работа) <b>от 2750 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт ГБЦ (головка блока цилиндров) <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Ремонт трансмиссии</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт и замена гидроблока АКПП <b>от 8100 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт и замена гидротрансформатора АКПП <b>от 6480 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика АКПП<b> от 1620 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт и замена селектора АКПП Ремонт и замена селектора АКПП от 900 р.  </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт и замена соленоидов АКПП <b>от 3240 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт коробки МКПП <b>от 12960 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена сцепления МКПП<b> от 8910 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт приводов автомобиля <b>от 3400 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Замена шруса<b> от 3560 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Замена сцепления <b>от 9720 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт редукторов <b>от 5670 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт раздаточной коробки (раздатки) <b>от 5670 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена сальника <b>от 2920 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Ремонт электрооборудования</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт электрики <b>от 1800 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт генераторов <b>от 4860 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт стартера <b>от 4860 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт автокондиционера <b>от 4860 р</b>.</span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика автокондиционеров <b>от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Дезинфекция автокондиционера <b>от 1620 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Чистка автокондиционера <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт радиатора автокондиционера <b>от 2110 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Заправка автокондиционера <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Замена датчиков <b>от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт печки <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена лампы освещения <b>от 900 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена фары <b>от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт системы зажигания: <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт трамблера <b>от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>

                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Ремонт ходовой</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика пневмоподвески <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена сайлентблоков подвески<b> от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена задних амортизаторов <b>от 2590 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена передних амортизаторов <b>от 2750 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена стабилизаторов<b> от 2430 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика ходовой части. <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Сход-развал <b>от 3240 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Шиномонтаж Шиномонтаж от 1800 р.  </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт рулевого управления <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div><div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика рулевого управления <b>от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт гидроусилителя руля <b>от 4860 р</b>. </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика ABS <b>от 900 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена рулевой рейки <b>от 4540 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Диагностика рулевой рейки <b>от 1080 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Тормозная система</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>замена задних тормозных колодок <b>от 1940 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>замена передних тормозных дисков <b>от 2430 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>замена задних тормозных дисков <b>от 2920 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>диагностика тормозной системы <b>от 1620 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена тормозной жидкости <b>от 1620 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>ремонт и обслуживание тормозного суппорта <b>от 1440 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Кузовной ремонт</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт вмятин <b>от 1200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт сколов <b>от 600 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт царапин <b>от 600 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Локальный кузовной ремонт ремонт <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт крыши <b>от 1200 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт крышки багажника <b>от 1200 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт двери <b>от 1200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт боковых зеркал <b>от 1200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт крыла <b>от 1200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт порогов <b>от 2160 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт бампера <b>от 1200 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт капота <b>от 1200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Восстановление геометрии кузова <b>от 6480 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт лонжерона<b> от 3240 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Покраска кузова</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Локальная покраска <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска вмятины автомобиля <b>от 1200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска сколов на автомобиле <b>от 1200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска царапин на автомобиле <b>от 1200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска заднего и переднего крыла <b>от 2700 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска капота <b>от 4320 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска передней и задней двери <b>от 2700 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска заднего и переднего бампера <b>от 2700 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска арок <b>от 1200 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска порогов <b>от 1800 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска суппортов <b>от 2160 р.</b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска молдингов <b>от 2160 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска спойлера <b>от 2160 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска автомобильных дисков <b>от 3240 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска двигателя (мотора) <b>от 5400 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Покраска машины в матовый цвет <b>от 70200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Аэрография <b>от 10800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Подбор краски <b>от 0 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Эксклюзивная покраска <b>от 4320 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Замена стёкол</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт и удаление сколов на стекле <b>от 600 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт и удаление трещин на стекле <b>от 600 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт заднего стекла <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена и установка заднего стекла <b>от 3240 р. </b></span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Ремонт лобового стекла <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена и установка лобового стекла <b>от 3240 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена и установка стекла люка <b>от 3240 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Замена и установка стекла двери <b>от 1800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h3 class="title_block">Детейлинг</h3>
                <div class="info">
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Техническая мойка <b>от 240 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Полировка салона <b>от 200 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Полировка кузова <b>от 800 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                    <div class="info-text-wrap">
                        <div class="info-text"><span>Химчистка салона <b>от 600 р.</b> </span></div>
                        <div class="info-btn "><span class="open_modal" data-title="Записаться">Записаться</span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Конец БЛОКА-АККАРДЕОНА С ЦЕНАМИ-->