<!--Блок РЕЙТИНГИ начало-->
<div class="block13 blockreiting">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="reiting-card">
                    <div class="img"><img src="{{ asset('img/rating-logo-zoon.png') }}" alt="*"></div>
                    <div class="text">
                        <span>рейтинг</span>
                        <b>5 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="reiting-card">
                    <div class="img"><img src="{{ asset('img/rating-logo-yandex.png') }}" alt="*"></div>
                    <div class="text">
                        <span>рейтинг</span>
                        <b>5 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="reiting-card">
                    <div class="img"><img src="{{ asset('img/rating-logo-google.png') }}" alt="*"></div>
                    <div class="text">
                        <span>рейтинг</span>
                        <b>5 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="reiting-card">
                    <div class="img"><img src="{{ asset('img/rating-logo-2gis.png') }}" alt="*"></div>
                    <div class="text">
                        <span>рейтинг</span>
                        <b>5 из 5</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Блок РЕЙТИНГИ Конец-->