<!--Блок СЕО начало-->
<div class="block12">
    <div class="container container2 blockseo collapsed">
        {{ content.text|raw }}
    </div>
    <div class="read-more-btn">Читать далее</div>
</div>
<!--Блок СЕО конец-->