<!--Второй блок - "Акции"-->
<div class="block2 blockakcii">
    <div class="container container2">
        <div class="zag">Акции и спецпредложения</div>
        <div class="card-wrap">
            {% for offer in special_offers %}
            <div class="card-block">
                <div class="card">
                    <b class="card-zag">{{ offer.name }}</b>
                    <p>{{ offer.description }}</p>
                    <div class="cena-wrap">
                        <div>
                            <span class="stcena">{{ offer.oldPrice }} руб</span>
                            <span class="newcena ">{{ offer.newPrice }} руб</span>
                        </div>
                        <a href="#" class="mbtn mymodal-btn open_modal" data-title="Записаться" >Записаться</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--Конец  блока "Акции"-->