<!-- Whatsapp -->
<link rel="stylesheet" href="{{ asset('/css/whatsapp-button.css') }}">
<a class="wapopup" target="_blank" href="{{ whatsapp_link }}" data-href="whatsapp">
    <div class="wapopup__content"><img {{ lazy_load(asset('/img/whatsapp/whatsapp.svg')) }} alt="">
        <div class="wapopup__content__text">
            <div>Оцените стоимость</div>
            <div><span>по WhatsApp</span></div>
        </div>
    </div>
</a>
<!-- Whatsapp.Конец -->