<div class="baner-wraper">
    <div class="baner-container">
        <div class="baner-close modal-close-action">&times</div>
        <div class="baner-content">
            <div class="baner-logo2">
                <img src="{{ asset('img/popup_banner/baner_logo.png') }}" alt="logo">
            </div>
            <div class="baner-bigtext">
                <div class="baner-text1">
                    Бесплатная <span>Диагностика</span>
                </div>
                <div class="baner-text2">
                    <div>автомобиля</div>
                    по <span>56</span> пунктам
                </div>

            </div>
            <div class="baner-spis-wrap">
                <div class="baner-spis1 baner-spis">
                    <i>Бесплатный эвакуатор</i>
                </div>
                <div class="baner-spis2 baner-spis">
                    <i>Замена масла в подарок!</i>
                </div>
                <div class="baner-spis3 baner-spis">
                    <i>Заправка автокондиционера - 1699 р.</i>
                </div>
                <div class="baner-spis4 baner-spis">
                    <i>Мойка радиаторов со снятием - 6999 р.</i>
                </div>

            </div>
        </div>
        <div class="baner-form">
            <div class="baner-form-logo">
                <img src="{{ asset('img/popup_banner/baner_logo.png') }}" alt="rovercity.ru">
            </div>
            <span class="baner-form-text">Оставьте Ваши контакты <br> и мы свяжемся с Вами</span>
            <form name="popup-banner-form" class="callback-form" action="">
                <label for="name_popup">Введите Ваше имя</label> <br>
                <input type="text" id="name_popup" name="name"> <br>
                <label for="phone_popup">Введите Ваш телефон</label> <br>
                <input id="phone_popup" class="phone-field" name="phone" placeholder="+7 (___) ___-__-__"> <br>
                <input type="submit" class="btn btn-success" style="color: #fff;" value="Отправить" id="nadegda">
                <span class="callback-modal-title d-none">Заказ звонка (Popup-баннер)</span>
            </form>
        </div>

    </div>

</div>
