<div class="mymodal-wrap">
    <div class="mymodal-body">
        <div class="mymodal-close modal-close-action">&#215;</div>
        <form class="callback-form" name="callback-form" action="">
            <b class="callback-modal-title">Заказать звонок</b>
            <input type="text" name="name" id="callback-name" placeholder="Ваше имя">
            <input type="text" name="phone" id="callback-phone" class="phone-field"  placeholder="Номер телефона">
            <input type="submit" class="mbtn modal-btn">
        </form>
    </div>
</div>